[user]
	name = Ben Sayer
	email = ben@medhub.com
[credential]
	helper = credential-osxkeychain
[core]
	excludesfile = /Users/bsayer/.gitignore_global
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = matching
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
